{
  "app": {
    "guid": "f420e699-af0b-4b5f-9eab-2423a41ab3a8",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.testecrud",
    "artifactId": "io.cronapp.apps.testecrud"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZjQyMGU2OTktYWYwYi00YjVmLTllYWItMjQyM2E0MWFiM2E4",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.testecrud",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}